/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
body {
	font-size: 1.75em;
	font-family: Verdana, Geneva, sans-serif;
	font-weight:bold;
	background-color: #d2d2d2;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

hr {
    display: block;
    height: 3px;
    border: 0;
    border-top: 3px solid #5a5a5a;
    margin: 2em 0;
    padding: 0; 
}

h1 {
	text-align:center;
}


.buffer-top {
	margin-top:2em;
}

.task {
	margin-bottom: 1em;

	.action {opacity: 0}

	&:hover .action {
		opacity: 1;
		transition: opacity 0.5s ease;
	}
}

.priority_1 {
	color: #00ba3c
}
.priority_2 {
	color: #fff400
}
.priority_3 {
	color: #D43927
}
.completed_true .title {
	color: #949191;
	text-decoration: line-through;
}

.done {
	margin-left: 10px;
}

.completed_true .done {
	display: none
}
